<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="TracksTestSuite" verbose="1" >
    <test name="LoginTests" >
        <classes>
            <class name="tests.LoginTest">
                <methods>
                    <include name="verifyThatUserCannotLoginWithInvalidCredentials" />
                </methods>
            </class>
        </classes>
    </test>
</suite>
